{% extends "base.html" %}

{% block title %}
    Enregistrement {{ content.name }} DONE !
{% endblock %}

{% block script %}
<!--
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.5/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.5/lib/addons/p5.sound.min.js"></script>
    <script src="{{ url_for('static', filename='mySketch.js') }}"></script>
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--
Fireworks JS : https://fireworks.js.org / https://github.com/crashmax-dev/fireworks-js
    # can't make it work 
-->


{% endblock %}

{% block content %}

<div class="result">

    <canvas id="fireworks"></canvas>

    {% if content.delete %}
        <!--<img src="https://imgflip.com/gif/97c96s" alt="YOU KILL DA RECORD">    -->
        <div style="width:600px;max-width:100%;"><div style="height:0;padding-bottom:56.11%;position:relative;"><iframe width="360" height="202" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0" src="https://imgflip.com/embed/97c96s"></iframe></div></div>

    {% else %}
        <img src="https://i.imgflip.com/97r4gk.jpg" alt="ACHIEVEMENT UNLOCKED">

<p>
    Testez votre nouvel enregistrement
</p>
<p>
    avec une ligne de commande (dans Linux) :
</p>
<pre>
<code>
    <b>$ dig +short TXT  {{ content.name }}</b>
    {{ content.txt }}

    {% if content.ipv6 %}
    <b>$ dig +short AAAA  {{ content.name }}</b>
    {{ content.ipv6 }}
    {% endif %}
    {% if content.ipv4 %}
    <b>$ dig +short {{ content.name }}</b>
    {{ content.ipv4 }}
    {% endif %}
    <b>$ host {{ content.name }}</b>
    {% if content.ipv6 %}{{ content.name }} has IPv6 address {{ content.ipv6 }}{% endif %}
    {% if content.ipv4 %}{{ content.name }} has address {{ content.ipv4 }}{% endif %}

    <b>$ resolvectl query {{ content.name }}</b>
    {{ content.name }}: {% if content.ipv6 %}{{ content.ipv6 }}{% else %}{{ content.ipv4 }}{% endif %} -- link: whatever
    {% if content.ipv6 and content.ipv4 %}{{ " " * content.name | length }}  {{ content.ipv4 }} -- link: whatever{% endif %}

    -- Information acquired via protocol DNS in 34.7ms.
    -- Data is authenticated: no; Data was acquired via local or encrypted transport: no
    -- Data from: network

</code>
</pre>
<br>
<p>
    avec une ligne de commande (dans PowerShell) :
</p>
<pre>
<code>
    <b>$ nslookup {{ content.name }} 8.8.8.8</b>
    Server:		dns.google
    Address:	8.8.8.8

    Non-authoritative answer:
    Name:	{{ content.name }}
    Address: {% if content.ipv6 %}{{ content.ipv6 }}{% else %}{{ content.ipv4 }}{% endif %}
    {% if content.ipv6 %}{{ " " * content.ipv4 | length }} {{ content.ipv4 }}{% endif %}

    <b>$ Resolve-DnsName -Name {{ content.name }}</b>

    Name                                           Type   TTL   Section    IPAddress                                
    ----                                           ----   ---   -------    ---------                                
    {% if content.ipv6 %}{{ content.name }}        AAAA   2432  Answer     {{ content.ipv6 }}{% endif %}
    {% if content.ipv4 %}{{ content.name }}        A      1359  Answer     {{ content.ipv4 }}{% endif %}

</code>
</pre>
<br>
<p>
    avec le site <b>whatsmydns.net</b> : <a href="https://www.whatsmydns.net/#{{ content.record_type }}/{{ content.name[:-1]  }}" target="_blank">{{ content.name }}</a>
</p>
{% endif%}

<img src="https://i.kym-cdn.com/photos/images/original/000/409/799/83b.jpg" alt="Great Success">
</div>

<script src="{{ url_for('static', filename='fireworks.js') }}"></script>

{% endblock content %}