{% extends "base.html" %}

{% block content %}

<div class="result">

    {% if content.delete %}
        <!--<img src="https://imgflip.com/gif/97c96s" alt="YOU KILL DA RECORD">    -->
        <div style="width:600px;max-width:100%;"><div style="height:0;padding-bottom:56.11%;position:relative;"><iframe width="360" height="202" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0" src="https://imgflip.com/embed/97c96s"></iframe></div></div>

    {% else %}
        <img src="https://imgflip.com/i/97r4gk" alt="ACHIEVEMENT UNLOCKED">

<p>
    Testez votre nouvel enregistrement
</p>
<p>
    avec une ligne de commande :
</p>
<pre>
<code>
    <b>$ dig +short AAAA {{ content.name }}</b>
    {{ content.ipv6 }}

    <b>$ host {{ content.name }}</b>
    {{ content.name }} has IPv6 address {{ content.ipv6 }}

    <b>$ resolvectl query {{ content.name }}</b>
    {{ content.name }}: {{ content.ipv6 }} -- link: whatever

    -- Information acquired via protocol DNS in 34.7ms.
    -- Data is authenticated: no; Data was acquired via local or encrypted transport: no
    -- Data from: network

</code>
</pre>
<br>
<p>
    avec le site <b>whatsmydns.net</b> : <a href="https://www.whatsmydns.net/#AAAA/{{ content.name[:-1]  }}" target="_blank">{{ content.name }}</a>
</p>
{% endif%}

<img src="https://i.kym-cdn.com/photos/images/original/000/409/799/83b.jpg" alt="Great Success">
</div>

{% endblock content %}