{% extends "base.html" %}

{% block content %}

<form method="post" >

    <label>login</label>
    <input name="login" type="text">
    <br>
    <label>password</label>
    <input name="password" type="password">
    <p class="comment">Ce sont vos identifiants proxmox qui doivent être utilisé</p>
    <p class="comment"><b>Pensez bien que votre login est "pnom@pve" et non pas "pnom" seul</b></p>

    <label>Nom de l'enregistrement</label>
    <input name="name" type="text" value="(...)  .{{ content.url }}." >
    <p class="comment">Laisser tout l'enregistrement entier par exemple <br>
        <b>lorem-ipsum.web.{{ content.url }}.</b> <br>
         (le point final est important)</p>
    <label>ipv6 address</label>
    <input name="ipv6" type="text" pattern="^([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F:]{0,4}$">
    <p class="comment">Exemple : <b>2001:DB8:77ba:3daf:109a:f930:feab:dfb8</b><br>
        Ne pas mettre /64 ou autre : Juste l'IP nue.        </p>
    <label>Supprimer l'enregistrement</label>
    <input name="delete" type="checkbox"/>
    <p class="comment">Le champ IPv6 n'a pas d'importance si coché</p>


    <br>
<!--
    <label>debug</label>
    <input name="debug" type="checkbox">
    <br>
-->

    <button type="submit" class="submit">Envoyer</button>
</form>

{% endblock content %}
